body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.colorBtn{
        background: black;
        color: #fff;
        padding: 20px 15px;
        cursor: pointer;
        outline: none;
}
.hexColor{
    text-transform: capitalize;
}